@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&family=Gidugu&family=Henny+Penny&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

.cabecalho {
    background-color: #b13939;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cabecalho h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.list ul {
    list-style: none;    
    display: flex;
    gap: 3vw;
    align-items: center;
    font-size: 1.4vw;
    border: solid 2px white;
    padding: 2vw;
    border-radius: 2vw;
}

.cabecalho a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}   

.sobre {
    padding: 0.5vw;
    display: flex;
    gap: 1vw;
    align-items: center;
}

.sobre img{
    width: 20%;
    border-radius: 1vw;  
    height: auto;
<<<<<<< HEAD:mus1.css
=======
    border: solid, 2px rgba(0, 0, 0, 0.322);
}

.musics {
    display: flex;
    align-items: center;
    margin: 2rem;
}

.music {
    width: 15%;
    height: auto;
    border: solid, 3px, #8a8a8a;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.music a {
    text-decoration: none;
    color: #b13939;
    font-weight: bold;
    font-size: 1.6vw;
}

.time {
    font-weight: bold;
>>>>>>> f9ef6f19a7dbe9cd1b49243f46186b961587d4a5:album1.css
}